{{ partial "header" .  }}
    <main class="main-wrapper">
        <!-- Start Shop Area  -->
        <div class="axil-single-product-area bg-color-white">
            <div class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white">
                <div class="container">
                    <div class="row row--50">
                        <div class="col-lg-6 mb--40">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
										{{ range .Params.productImages }}
                                        <div class="thumbnail">
											<img src="{{ . }}" alt="Product Images">
                                        </div>
										{{ end }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="small-thumb-wrapper product-small-thumb-2 small-thumb-style-two small-thumb-style-three">
                                    </div>
                                </div>								
                            </div>
                        </div>
                        <div class="col-lg-6 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title">{{ .Params.title }}</h2>
                                    <span class="price-amount">{{ .Params.price }}</span>
									{{ $stockUlClass := "" }}{{ $stockIClass := "" }}{{ $stockText := "" }}
									{{ if .Params.stock }}{{ $stockUlClass = "product-meta"}}{{ $stockIClass = "fal fa-check"}}{{ $stockText = "In stock"}}
									{{ else }}{{ $stockUlClass = "product-meta-out-of-stock"}}{{ $stockIClass = "fal fa-times"}}{{ $stockText = "Out of Stock"}}
									{{ end }} 
									
                                    <ul class="{{ $stockUlClass }}">
                                        <li><i class="{{ $stockIClass }}"></i>{{ $stockText }}</li>
                                    </ul>
									
                                    <p class="description">{{ .Params.productShortDescription }}</p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
										{{ if isset .Params "colors" }}
                                        <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
													{{ range .Params.colors }}
                                                    <li class="color-extra-01"><span><span class="color" style="background:{{ . }}"></span></span></li>
													{{ end }}
                                                </ul>
                                            </div>
                                        </div>
										{{ end }}
                                        <!-- End Product Variation  -->

                                        <!-- Start Product Variation  -->
										{{ if isset .Params "sizes" }}
                                        <div class="product-variation product-size-variation">
                                            <h6 class="title">Size:</h6>
                                            <ul class="range-variant">
												{{ range .Params.sizes }}
                                                <li>{{ . }}</li>
												{{ end }}
                                            </ul>
                                        </div>
										{{ end }}
                                        <!-- End Product Variation  -->

                                    </div>

                                    <div class="product-desc-wrapper pt--10 pt_sm--10">
										<!-- Start .pro-des-features  -->
                                        <h4 class="primary-color mb--40 desc-heading">Description</h4>
										{{ if isset .Params "specifications" }}
                                        <div class="single-desc mb--30">
                                            <h5 class="title">Specifications:</h5>
                                            <p>{{ .Params.specifications }}</p>
                                        </div>
										{{ end }}
										{{ if isset .Params "careandmaintenance" }}
                                        <div class="single-desc mb--5">
                                            <h5 class="title">Care & Maintenance:</h5>
                                            <p>{{ .Params.careandmaintenance }}</p>
                                        </div>
										{{ end }}
                                        <!-- End .pro-des-features -->
                                    </div>
                                    <!-- End .product-desc-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .single-product-thumb -->

        </div>
        <!-- End Shop Area  -->
    </main>
{{ partial "footer" . }}
